* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #3c444c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  width: 90%;
  max-width: 1050px;
  display: flex;
}

.gallery {
  flex-basis: 47%;
  background: #241e20;
  transform: scale(1.08);
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.gallery img {
  width: 100%;
  display: block;
  padding-top: 100px;
}

.details {
  flex-basis: 53%;
  background: #fff;
  padding: 40px;
  padding-left: 60px;
  box-shadow: -10px 5px 10px 10px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  font-weight: 500;
  color: #777;
  border-radius: 15px;
}

.details h1 {
  color: #333;
  font-size: 35px;
  margin-bottom: 10px;
}

.details h2 {
  color: #555;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.color-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.color-select p {
  width: 75px;
}

.color-select span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

.color-1 {
  background: gray;
}

.color-2 {
  background: black;
}

.color-select input {
  display: none;
}

.color-select input:checked + span {
  transform: scale(0.7);
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
}

.capacity-select {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.capacity-select p {
  width: 75px;
}

.capacity-select span {
  display: inline-block;
  width: 75px;
  height: 15px;
  margin-right: 15px;
  cursor: pointer;
  border: 2px solid black;
  padding: 10px 5px 22px 13px;
  border-radius: 15px;
}

.capacity-select input {
  display: none;
}

.capacity-select input:checked + span {
  transform: scale(0.99);
  box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
  border: none;
}

form button {
  background: #553ff0;
  color: #fff;
  font-size: 17px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  margin-top: 50px;
  box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
  cursor: pointer;
}
